@font-face {
    font-family: 'Standors-Bold';
    src: url('./Tool/Fonts/StardosStencil-Bold.ttf') format('truetype');
    font-style: oblique, italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Standors-Regular';
    src: url('./Tool/Fonts/StardosStencil-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Basteleur-Bold';
    src: url('./Tool/Fonts/Basteleur-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Basteleur-Moonlight';
    src: url('./Tool/Fonts/Basteleur-Moonlight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


.ContainerMain {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#00D14D;
}

.ContainerMaster{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3B5C47;
    border-radius: 2%;
}

