@font-face {
    font-family: 'Standors-Bold';
    src: url('./Tool/Fonts/StardosStencil-Bold.ttf') format('truetype');
    font-style: oblique, italic;
    font-weight: normal;
}
@font-face {
    font-family: 'Standors-Regular';
    src: url('./Tool/Fonts/StardosStencil-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Basteleur-Bold';
    src: url('./Tool/Fonts/Basteleur-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Basteleur-Moonlight';
    src: url('./Tool/Fonts/Basteleur-Moonlight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Batuphat-Script';
    src: url('./Tool/Fonts/Batuphat-Script.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Batuphat-Script-Extrude';
    src: url('./Tool/Fonts/Batuphat-Script-Extrude.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.ContainerMain {
    top: 0;
    left: 0;
    width: 100%;
    height: 93vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.teahub.io/photos/full/35-352663_wallpaper-leaves-green-plant-aesthetic-nature-background-green.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ContainerMaster{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #3B5C47;
    border-radius: 2%;
    border-bottom: 1px solid #000;    
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
}

.Containermaster{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #3B5C47;
    border-radius: 2%;
    border-bottom: 1px solid #000;    
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    overflow: scroll;
}

.Containermaster::-webkit-scrollbar {
    width: 15px;
    background-color: #3BB85E;
}
.Containermaster::-webkit-scrollbar-thumb {
    background-color: #12381D;
    border-radius: 5px;
}

